:root{
    --main-color: rgb(25,135,84);
}

.active > .page-link, .page-link.active {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: white !important;
}

.page-link {
    color: var(--main-color) !important;
    transition: 0.5s;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgb(25,135,84,50%) !important;
}